In [4]:
# establishing environment
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

# Acquire
Acquiring the data from local csv file
***

In [5]:
# importing data
df = pd.read_csv('deep_sea_corals.csv')

In [14]:
# previewing data
df.head()

,CatalogNumber,DataProvider,ScientificName,VernacularNameCategory,TaxonRank,Station,ObservationDate,latitude,longitude,DepthInMeters,DepthMethod,Locality,LocationAccuracy,SurveyID,Repository,IdentificationQualifier,EventID,SamplingEquipment,RecordType,SampleID
1,625366.0,"NOAA, Deep Sea Coral Research & Technology Pro...",Madrepora oculata,stony coral (branching),species,D2-EX1504L3-05,2015-09-02,18.30817,-158.45392,959.0,reported,"Hawaiian Archipelago, Swordfish Seamount",50m,Hohonu Moana: Exploring Deep Waters off Hawai'i,University of Hawaii,ID by expert from video,D2-EX1504L3-05,ROV,video observation,EX1504L3_05_20150901T181522Z.mp4_05:45:26:28
2,625373.0,"NOAA, Deep Sea Coral Research & Technology Pro...",Madrepora oculata,stony coral (branching),species,D2-EX1504L3-05,2015-09-01,18.30864,-158.45393,953.0,reported,"Hawaiian Archipelago, Swordfish Seamount",50m,Hohonu Moana: Exploring Deep Waters off Hawai'i,University of Hawaii,ID by expert from video,D2-EX1504L3-05,ROV,video observation,EX1504L3_05_20150901T181522Z.mp4_05:24:35:53
3,625386.0,"NOAA, Deep Sea Coral Research & Technology Pro...",Madrepora oculata,stony coral (branching),species,D2-EX1504L3-05,2015-09-01,18.30877,-158.45384,955.0,reported,"Hawaiian Archipelago, Swordfish Seamount",50m,Hohonu Moana: Exploring Deep Waters off Hawai'i,University of Hawaii,ID by expert from video,D2-EX1504L3-05,ROV,video observation,EX1504L3_05_20150901T181522Z.mp4_05:15:22:09
4,625382.0,"NOAA, Deep Sea Coral Research & Technology Pro...",Madrepora oculata,stony coral (branching),species,D2-EX1504L3-05,2015-09-01,18.30875,-158.45384,955.0,reported,"Hawaiian Archipelago, Swordfish Seamount",50m,Hohonu Moana: Exploring Deep Waters off Hawai'i,University of Hawaii,ID by expert from video,D2-EX1504L3-05,ROV,video observation,EX1504L3_05_20150901T181522Z.mp4_05:13:29:50
5,625384.0,"NOAA, Deep Sea Coral Research & Technology Pro...",Madrepora oculata,stony coral (branching),species,D2-EX1504L3-05,2015-09-01,18.30902,-158.45425,968.0,reported,"Hawaiian Archipelago, Swordfish Seamount",50m,Hohonu Moana: Exploring Deep Waters off Hawai'i,University of Hawaii,ID by expert from video,D2-EX1504L3-05,ROV,video observation,EX1504L3_05_20150901T181522Z.mp4_04:24:44:48

# Prepare
Preparing the data for exploration and modeling
***

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513373 entries, 0 to 513372
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CatalogNumber            513372 non-null  float64
 1   DataProvider             513372 non-null  object
 2   ScientificName           513372 non-null  object
 3   VernacularNameCategory   513197 non-null  object
 4   TaxonRank                513364 non-null  object
 5   Station                  253590 non-null  object
 6   ObservationDate          513367 non-null  object
 7   latitude                 513373 non-null  object
 8   longitude                513373 non-null  object
 9   DepthInMeters            513372 non-null  float64
 10  DepthMethod              496845 non-null  object
 11  Locality                 389645 non-null  object
 12  LocationAccuracy         484662 non-null  object
 13  SurveyID                 306228 non-null  object
 14  Repository               496584 non-null  object
 15  IdentificationQualifier  488591 non-null  object
 16  EventID                  472141 non-null  object
 17  SamplingEquipment        485883 non-null  object
 18  RecordType               501077 non-null  object
 19  SampleID                 402294 non-null  object
dtypes: float64(2), object(18)
memory usage: 78.3+ MB

- Many null values
    - I'll drop them after dropping columns I don't plan to use for this first iteration of this project
        - If too many rows are lost I'll impute values to preserve more rows 
- Data types look okay for now but I'll update if needed to facilitate operations

In [11]:
df = df.dropna()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103278 entries, 1 to 511957
Data columns (total 20 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CatalogNumber            103278 non-null  float64
 1   DataProvider             103278 non-null  object
 2   ScientificName           103278 non-null  object
 3   VernacularNameCategory   103278 non-null  object
 4   TaxonRank                103278 non-null  object
 5   Station                  103278 non-null  object
 6   ObservationDate          103278 non-null  object
 7   latitude                 103278 non-null  object
 8   longitude                103278 non-null  object
 9   DepthInMeters            103278 non-null  float64
 10  DepthMethod              103278 non-null  object
 11  Locality                 103278 non-null  object
 12  LocationAccuracy         103278 non-null  object
 13  SurveyID                 103278 non-null  object
 14  Repository               103278 non-null  object
 15  IdentificationQualifier  103278 non-null  object
 16  EventID                  103278 non-null  object
 17  SamplingEquipment        103278 non-null  object
 18  RecordType               103278 non-null  object
 19  SampleID                 103278 non-null  object
dtypes: float64(2), object(18)
memory usage: 16.5+ MB